body{
    background-image:url('http://www.example.com/yourfile.gif');
    background-position: center;
    background-size: cover;
    }
  h1{
      font-size: 50px;
      margin-top: 250px;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:yellowgreen;
  }